<header id="header" class="main-header">
  <h1><a href="#">Dra Emma Macías</a></h1>
  <nav class="links">
    <ul class="header-titles">
      <li><a href="#">Principal</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Información Adicional</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <!--<li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li>-->
      <li class="menu">
        <a class="fa-bars" href="#menu">Menu</a>
      </li>
    </ul>
  </nav>
</header>

