<section id="menu">

  <!-- Links -->
  <section>
    <ul class="links">
      <li>
        <a href="#">
          <h3>Principal</h3>
          <!--<p>Feugiat tempus veroeros dolor</p>-->
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Servicios</h3>
          <!--<p>Sed vitae justo condimentum</p>-->
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Información adicional</h3>
          <!--<p>Phasellus sed ultricies mi congue</p>-->
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Contacto</h3>
          <!--<p>Porta lectus amet ultricies</p>-->
        </a>
      </li>
    </ul>
  </section>


</section>
